/**
 * Zpix font
 *
 * Load a smaller subset which have reduced file size for basic latin characters (U+0000-007F),
 * and load the complete font for showing Chinese characters.
 * Reference: https://stackoverflow.com/a/16782522/14138017
 */

@font-face {
  font-family: "Zpix-web";
  src: url('./Zpix-basic-latin.woff2') format('woff2'), url('./Zpix-basic-latin.woff') format('woff'), url('./Zpix-basic-latin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: 'Zpix-web';
  src: url('./Zpix.woff2') format('woff2'), url('./Zpix.woff') format('woff'), url('./Zpix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
