@import '../fonts/Zpix.css';

* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: var(--color-main-text);
  cursor:
    url('../images/cursors/default.svg') 0 0,
    pointer;
}

body {
  text-align: left;
  font-family: 'Zpix-web', 'PingFang TC', 'Lantinghei TC', 'Heiti TC', 'Apple LiGothic', 微軟正黑體,
    'Microsoft JhengHei', 'Microsoft JhengHei UI', 'Microsoft YaHei', 'Microsoft YaHei UI',
    'PMingLiU', Arial, sans-serif;
  font-optical-sizing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  background-color: var(--color-background);
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition: var(--var-theme-toggle-transition);
}

::selection {
  background: var(--color-highlight); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-highlight); /* Gecko Browsers */
}

u {
  text-underline-position: under;
}

p {
  margin: var(--var-paragraph-margin) 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2em;

  & + p {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 1.75rem 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 3rem;
  }
}

h2 {
  font-size: 1.6875rem;
  line-height: 2rem;
  margin: 1.375rem 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 2.8125rem;
  }
}

h3 {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin: 1.3125rem 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 3.125rem;
  }
}

h4 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 1.5rem 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 3rem;
  }
}

h5 {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin: 1.5625rem 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 3.125rem;
  }
}

h6 {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  margin: 1.75em 0;

  &:first-child {
    margin-top: 0;
  }

  p + & {
    margin-top: 3.5rem;
  }
}

img {
  border: 0;
  max-width: 100%;
}

a,
button {
  cursor:
    url('../images/cursors/pointer.svg') 5 0,
    pointer;
}

a {
  color: var(--color-link);
  text-decoration: none;

  @media (pointer: fine) {
    &:hover {
      color: var(--color-link-hover);
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--var-pixel-size) solid currentColor;
  }
}

p a {
  border-bottom: 0.125rem solid var(--color-link);

  @media (pointer: fine) {
    &:hover {
      border-bottom: 0.125rem solid var(--color-link-hover);
    }
  }
}

ul {
  list-style: none;

  li {
    position: relative;

    &:before {
      position: absolute;
      top: 0.625rem;
      left: -1.25rem;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      background-color: currentColor;
      // SVG background image can't use currentColor. Use mask + background color instead.
      mask: url('../images/bullets/bullet.svg') center center / 100% auto no-repeat;
    }
  }
}

p + ol,
p + ul {
  margin-top: 0.5625rem;
}

hr {
  background-color: var(--color-secondary-text);
  border: 0;
  clear: both;
  color: transparent;
  height: var(--var-pixel-size);
  margin: calc(var(--var-paragraph-margin) * 1.5) 0;
  padding: 0;
}
