:root,
html[data-theme='light'] {
  --var-pixel-size: 2px;
  --var-paragraph-margin: 1.75rem;
  --var-flex-gap-left-right: 0.5rem;
  --var-flex-gap-bottom: 1.25rem;

  --var-theme-toggle-transition: background-color 0.2s linear;

  --color-white: #ffffff;
  --color-grey93: #efefef;
  --color-grey87: #d7d7d7;
  --color-grey78: #c6c6c6;
  --color-grey55: #8c8c8c;
  --color-grey30: #4d4d4d;
  --color-grey16: #282828;

  --color-background: var(--color-grey93);
  --color-main-text: var(--color-grey16);
  --color-secondary-text: var(--color-grey55);
  --color-link: var(--color-grey55);
  --color-link-hover: var(--color-grey30);
  --color-navigation-link: var(--color-grey16);
  --color-navigation-link-hover: var(--color-grey30);
  --color-card-border: var(--color-grey16);
  --color-card-background: var(--color-white);
  --color-card-text: var(--color-grey16);
  --color-button-border: var(--color-grey16);
  --color-button-background: var(--color-white);
  --color-button-text: var(--color-grey16);
  --color-button-background-hover: var(--color-white);
  --color-button-text-hover: var(--color-grey16);
  --color-button-background-disabled: var(--color-white);
  --color-button-text-disabled: var(--color-grey16);
  --color-blockquote-border: var(--color-grey30);
  --color-blockquote-background: var(--color-white);
  --color-blockquote-text: var(--color-grey30);
  --color-highlight: var(--color-grey87);
  --color-overlay-background: var(--color-grey16);
  --color-horizontal-ruler: var(--color-grey87);
}

html[data-theme='dark'] {
  --color-white: #ffffff;
  --color-grey93: #edecef;
  --color-grey86: #dddcdf;
  --color-grey74: #bdbcbf;
  --color-grey64: #a2a1a4;
  --color-grey62: #9d9c9f;
  --color-grey43: #6d6c6f;
  --color-grey24: #3d3c3f;
  --color-grey19: #313133;

  --color-background: var(--color-grey24);
  --color-main-text: var(--color-grey93);
  --color-secondary-text: var(--color-grey64);
  --color-link: var(--color-grey74);
  --color-link-hover: var(--color-grey93);
  --color-navigation-link: var(--color-grey93);
  --color-navigation-link-hover: var(--color-grey74);
  --color-card-border: var(--color-grey62);
  --color-card-background: var(--color-grey24);
  --color-card-text: var(--color-grey93);
  --color-button-border: var(--color-grey62);
  --color-button-background: var(--color-grey43);
  --color-button-text: var(--color-grey93);
  --color-button-background-hover: var(--color-grey43);
  --color-button-text-hover: var(--color-white);
  --color-button-background-disabled: var(--color-grey43);
  --color-button-text-disabled: var(--color-white);
  --color-blockquote-border: var(--color-grey62);
  --color-blockquote-background: var(--color-grey43);
  --color-blockquote-text: var(--color-grey93);
  --color-highlight: var(--color-grey43);
  --color-overlay-background: var(--color-grey19);
  --color-horizontal-ruler: var(--color-grey43);
}
